html {
    font-size: 62.5%; 
}

body {
    background-color: #D6E2F0;
    font-size: 16px;
    margin: 0;
    height: 100vh; /* Ocupa toda la altura del viewport */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 240px;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    flex-direction: column;
    place-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 1rem;
}

.card h2 {
    font-size: 1.5rem;
    font-family: "Outfit", sans-serif;
    width: 78%;
    display: flex;
    align-content: center;
}

.card span {
    font-family: "Outfit", sans-serif;
    color: rgb(166, 166, 166);
    font-size: 1.1rem;
    padding-bottom: 2rem;
    width: 75%;
}

.qr-img {
    height: 20rem;
    width: 20rem;
    border-radius: 5%;
}

.attribution {
    margin-top: 2rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
